footer {
  margin: 0 auto;
  text-align: center;
  color: white;
}

footer h2 {
  margin-bottom: 20px;
}

footer form {
  padding-bottom: 30px;
}

footer form label {
  margin-left: 40px;
}

#phoneNumber {
    width: 200px;
}

.btn {
  margin-left: 12px;
  background-color: rgb(90, 163, 90);
  color: black;
  outline: none;
  padding: 3px;
  cursor: pointer;
  border: 1px solid rgb(56, 128, 56);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 80px;
}
